:root {
    --dark: #272D38;
    --light: #FFF;
    --primary-color: #8EADD5;
    --primary-color-dark: #3f3f3f;
    --gray: #F6F6F6;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--dark);
    text-align: center;
    margin: 0;

    background-image: 
    radial-gradient(circle at left top, rgb(142 173 213 / .3), transparent 400px),
    radial-gradient(circle at right center, rgb(142 173 213 / .3), transparent 400px);
}

.content-wrapper-center {
    padding: 3rem 1rem 2rem;
    max-width: 67.25rem;
    margin: auto;
}

.image {
    text-align: center;
}

.hero_tite {
    margin-top: 0;
}


.header-menu {
    list-style-type: none;
    padding: 0;
    text-align: right;

    display: none;
}

.header-menu a {
    display: block;
    padding: 2em 0;

}

a {
    color: inherit;
}

nav a {
    text-decoration: none;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

.header {
    text-align: left;
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 1em;
    background-color: var(--primary-color);
    border-radius: 5px;
    color: var(--light);
}

.btn:hover,
.btn:focus {
    background-color: var(--primary-color-dark);
}

img {
    max-width: 100%;
}

.brands {
    text-align: center;
}

.brands h2 {
    font-size: 1rem;
    font-weight: lighter;
    color: #667085;
}

.brands ul {
    list-style-type: none;
    padding: 0;
    background-color: var(--gray);
    border-radius: 5px;
    padding: 1em;

    display: flex;
    justify-content: space-around;
    gap: 1rem;
    
}

.hide {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.feedback_container  {
    background-color: var(--gray);
    border-radius: 5px;
    padding: 1rem;

    container: feedbackCard / inline-size;
}

.feedback_thumb {
    width: 8.125rem;
    height: 8.125rem;
}


.contact {
    background-color: var(--gray);
    border-radius: 5px;
    padding: 1rem;
    margin-top: 4rem;
}

.contact_image {
    display: none;
}

.footer {
    background-color: var(--gray);
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer a {
    text-decoration: none;
}

.logo {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

.copyright {
    white-space: nowrap;
}

.hero,
.brands,
.branding,
.feedbacks,
.contact {
    margin-top: 6rem;
    margin-bottom: 6rem;
}


.row{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap:.5rem;
    grid-auto-flow: dense;
}

.row.feedback_wrapper{
    row-gap: 3rem;
}

.row.contact{
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.contact_title {
    margin-top: 0;
}

.row > .sm-12 {
    grid-column: 1 / -1;
}


.feedback_card {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icons li{
    display: inline-block;
    font-size: 2rem;

}

.icons li + li {
    margin-left: 1rem;
}

@container feedbackCard(min-width: 42.187rem){
    .feedback_card{
        flex-direction: row;
        text-align: left;
    }

}

